$roboto-font: 'Roboto', sans-serif; 

//Colors
$color-orange: #D5966C;
$color-black: #151515;
$color-gray-text: #444444;
$color-white: white;

//Typography
body {
  font-family: 'Outfit', sans-serif;
  background-color: #fff;
  font-size: 1rem; // Mobile first
  margin: 0;
  padding: 0;

}